body {
    background-color: black;
}
.news-card {
    transition: all 0.3s ease;
    cursor: pointer;
}
.news-card:hover {
    transform: scale(1.04);
    box-shadow: 0 0 15px rgb(252, 250, 250);
}
.news-preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 1000;
    overflow-y: auto;
}
.preview-content {
    background: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
}
.loading-spinner {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  
}